.homeBannerSec {
    display: flex;
}

.bannerContent {
    width: 50%;
    padding: 0 180px 0 0;
}

.bannerHeading {
    font-size: 38px;
    margin: 50px 0 30px;
    line-height: 44px;
}

.bannerContent p {}

.mainBanner {
    width: 55%;
    position: relative;
    margin: 20px 0 0;
}

.mainBanner .dottes {
    position: absolute;
    right: -20px;
    bottom: -34px;
}

.plane-sketch {
    position: absolute;
    transform: translate(-86%, 43%);
}

.homeBanner {}

.homeBanner .owl-item {}

.homeBanner img {}

.homeCategorySec {
    background: rgb(231 15 20 / 10%);
    margin: -50px 0 0;
    padding: 80px 0 0;
}

.homeCategories {}

.homeCategories a {
    background: #fff;
    display: block;
    margin: 20px 10px 8px;
    padding: 0 8px 20px;
    box-shadow: 0 6px 10px rgb(231 14 20 / 10%);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.homeCategories figure {
    height: 100px;
    width: 100px;
    margin: 0 auto 0px;
    position: relative;
    top: -17px;
}

.homeCategories figcaption {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.giftFinderSec {
    background: #fff;
    border: solid 2px rgb(231 15 20 / 20%);
    border-radius: 10px;
    position: relative;
    bottom: -30px;
    box-shadow: 0 7px 10px rgb(231 15 20 / 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 60px;
}

.giftFinderSec .heading {
    position: relative;
    background: rgb(231 15 20 / 20%);
    height: 100%;
    margin: auto 0;
    padding: 30px;
    width: 180px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 8px 0 0 8px;
}

.giftFinderSec .heading:after {
    content: "";
    top: 0;
    right: -21px;
    height: 100%;
    width: 40px;
    position: absolute;
    background: rgb(252 213 211);
    transform: skewX(-24deg);
}

.giftFinderSec .feildWrap {
    width: calc(100% - 180px);
    justify-content: space-between;
    display: flex;
    padding: 0 20px 0 60px;
    gap: 20px;
}

.giftFinderSec .inputGroup {
    gap: 20px
}

.worldLeadingSec {
    background: url(../images/world-leading-bg.png) no-repeat;
    background-size: cover;
    padding: 200px 0 100px;
    margin: -100px 0 50px;
}

.numThumbWrap {
    margin: 0 0 0 auto;
    box-shadow: 0 0 30px rgb(231 15 20 / 12%);
    border-radius: 10px;
    overflow: hidden;
    background: rgb(255 255 255 / 30%);
}

.numThumb {
    text-align: center;
    padding: 50px 30px;
    width: 20vw;
}

.numThumb figure {
    font-size: 40px;
    margin: 0 0 20px;
}

.bo_r {
    border-right: solid 1px rgb(231 15 20 / 12%);
}

.bo_b {
    border-bottom: solid 1px rgb(231 15 20 / 12%);
}

.subCategoriesSec.withCurve {
    position: relative;
    padding: 70px 0 0;
    margin: 20px 0 0;
    overflow: hidden;
}

.subCategoriesThumb figure {
    height: 100%;
}

.subCategoriesThumb figure img {
    height: 100%;
}

.subCategoriesSec .best-curve {
    position: absolute;
    top: 30px;
    transform: scale(1.1);
}

.discountedProductSec {
    padding: 80px 0 60px;
}

.discountedInnerWrap {
    display: flex;
    justify-content: space-between;
}

.discountedInnerSec {
    width: 49%;
}

.subCategoriesSec {
    margin: 80px 0 0;
}

.playStorePromotionSec {
    margin: 100px 0 0;
}

@media only screen and (max-width: 980px) {
    .giftFinderSec {
        flex-direction: column;
    }

    .giftFinderSec .heading {
        width: 100%;
        text-align: center;
        border-radius: 8px 8px 0 0;
        padding: 10px;
    }

    .giftFinderSec .feildWrap {
        width: 100%;
        padding: 20px;
    }

    .giftFinderSec .heading:after {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .homeBannerSec {
        flex-direction: column;
    }

    .bannerContent,
    .mainBanner {
        padding: 0;
        width: 100%;
    }

    .giftFinderSec .feildWrap {
        flex-direction: column;
    }

    .subCategoriesThumb {
        width: 100%;
    }

    .worldLeadingSec {
        padding: 20px 0;
        margin: 0;
        background: no-repeat;
    }

    .numThumbWrap {
        margin: 30px 0 0;
        width: 100%;
    }

    .numThumb {
        width: 50%;
    }

    .subCategoriesSec.withCurve {
        padding: 10px 0 0;
    }

    .discountedProductSec {
        padding: 30px 0 0px;
    }

    .discountedInnerWrap {
        flex-direction: column
    }

    .discountedInnerSec {
        width: 100%;
    }

    .playStorePromotionSec {
        margin: 50px 0 0;
    }

    .bannerHeading {
        margin: 20px 0 20px;
        font-size: 28px;
        line-height: 36px;
    }
}